@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Project Contributor</p>
<ul>
    <li>Anand Anthony Francis | 2021MT93313</li>
    <li>Nirupam Kumar Sinha | 2021mt933226</li>
    <li>Ritwik Bandyopadhyay | 2021mt93141</li>
    <li>Umang Francis | 2021MT93319</li>
</ul>
